@import "../../global.scss";
.listContainer {
  display: flex;
  z-index: 0;
  justify-content: center;
  // position: relative;
  margin-top: 20px;

  .listWrapper {
    display: flex;
    max-width: 1024px;
    width: 100%;
    gap: 20px;
    .listSearch {
      flex: 1;
      background-color: #febb02;
      position: sticky;
      top: 10px;
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: max-content;

      .listItem {
        .inputField {
          width: 250px;
          height: 35px;
          // position: relative;
          // display: flex;
          // flex-direction: row;
          // padding-left: 15px;
          padding: 10px 10px 10px 30px;
          border: none;
          outline: none;
          border-radius: 2px;
        }
        .inputField:focus {
          border: 1px solid blueviolet;
        }

        .icon {
          position: absolute;
          color: gray;
          padding: 10px;
          //   left: 0;
          left: 10px;
        }
      }
      .listItem1 {
        .test {
          .span {
            // display: block;
            background: white;
            padding: 10px;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
          }
          .dateR {
            position: absolute;
            top: 182px;
            left: 10px;
            box-shadow: -1px -1px 10px 1px gray;
            border-radius: 5px;
          }
          .icont {
            position: absolute;
            color: gray;
            top: 153px;
            left: 20px;
            // top: 0;
            // :-100px ;
            // padding: 10px;
            //   left: 0;
            // top: 0px;
          }
        }
      }
      .listItem2 {
        .test2 {
          .span2 {
            // display: block;
            background: white;
            padding: 10px;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
          }
          .dateR2 {
            position: absolute;
            top: 250px;
            left: 10px;
            box-shadow: -1px -1px 10px 1px gray;
            border-radius: 5px;
          }
          .icont2 {
            position: absolute;
            color: gray;
            top: 220px;
            left: 20px;
            // top: 0;
            // :-100px ;
            // padding: 10px;
            //   left: 0;
            // top: 0px;
          }
        }
      }
      .listItem3 {
        // margin-top: 1px;

        background: white;
        padding: 10px;
        cursor: pointer;
        position: relative;
        // top: 10px;
        .quantitySelector {
          top: -10px;

          left: -2px;
          position: absolute;
        }
      }

      .serchbtn {
        padding: 15px;
        border-radius: 5px;
        color: white;
        font-weight: 500;
        border: none;
        background: $navcolor;
      }
    }
    .listResult {
      flex: 3;
    }
  }
}
